@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --Montserrat: 'Montserrat', sans-serif;
  --primary-clr: #fff;
  --secondary-clr: #1a1a1a;
  --primary-accent-clr: #2D2A26;
  --secondary-accent-clr: #B81415;
  --secondary-bg-clr: #F5F5F5;
  --bg-accent-clr: #FFFEFB;
  --btn-clr: #E00102;
  --light-border: #ffffff40 ;
  --dark-border:#00000040 ;
  --outline-default: #820000;
  --container-width: 1500px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
ul,
li,
figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

input,
button,
textarea,
select,
.fa-solid {
  cursor: pointer;
}

/* Custom CSS Components */

a:focus-visible,
li:focus-visible,
button:focus-visible,
input:focus-visible,
div:focus-visible,
img:focus-visible,
input:focus-visible,
input::-webkit-calendar-picker-indicator:focus-visible,
i:focus-visible {
  outline: 2px solid var(--outline-default);
  border-radius: 6px;
}

.uk-offcanvas-page {
  overflow: hidden;
}

/* Main Hero Section */

.hero-slideshow li {
  filter: contrast(125%) brightness(30%) saturate(120%);
}

.nav-container {
  max-width: var(--container-width);
}

.nav-items li {
  list-style: none;
}

.nav-container a,
.book-btn {
  text-decoration: none;
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.56px;
}

.book-btn {
  border: unset;
  width: 176px;
  height: 40px;
  background-color: var(--btn-clr);
}

.hero-container .hero-heading {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 16px;
  letter-spacing: 0.72px;
  bottom: 50px;
  left: 8%;
}

.hero-container .hero-heading p:last-child {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.44px;
}

.hero-container .hero-heading p:last-child span {
  padding-left: 5px;
}

.hero-container .hero-heading h2 {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1.8px;
  padding: 16px 0;
}

.hero-slideshow .next {
  color: var(--primary-clr);
  bottom: 50px;
  right: 8%;
}

.hero-slideshow .prev {
  color: var(--primary-clr);
  bottom: 50px;
  right: 12%;
}

/* About Section */

.about-container {
  max-width: var(--container-width);
  padding: 130px 110px;
}

.about-content {
  font-family: var(--Montserrat);
  color: var(--secondary-clr);
}

.about-content>div {
  padding: 0 0 60px;
}

.about-content div h2 {
  max-width: 540px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.8px;
}

.about-content .line {
  transform: translateY(25px);
  width: 350px;
  height: 1px;
  background-color: var(--btn-clr);
}

.about-content .about-inner-content {
  max-width: 432px;
}

.about-inner-content p:first-child {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.56px;
  padding-bottom: 22px;
}

.about-inner-content p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.6px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
}

.about-inner-content .border-hover {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.56px;
  border-bottom: 1px solid var(--dark-border);
  max-width: 100px;
  cursor: pointer;
}

.about-content .line-hover {
  height: 2px;
  background: var(--btn-clr);
  transition: all 0.3s ease-in-out;
}

.about-inner-content>div:hover .line-hover {
  width: 100%;
}

.about-container .about-img-1 {
  max-width: 585px;
  max-height: 439px;
}

.about-container .about-img-2 {
  max-width: 315px;
  max-height: 236px;
  transform: translate(-185px, 52px);
  z-index: 1;
}


/* Map Section */

.map-section {
  background-image: url(/images-ameritania/Map.jpg);
  background-size: cover;
}

.map-container {
  max-width: var(--container-width);
  padding: 50px 130px 180px;
}

.things-to-do-container h2 {
  font-family: var(--Montserrat);
  color: var(--secondary-clr);
  text-align: end;
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 2.4px;
  padding-bottom: 22px;
}

.things-to-do-container img {
  max-width: 480px;
  height: 370px;
  padding-bottom: 10px;
}

.things-to-do-container>div {
  gap: 275px;
}

.things-to-do-container>div>h3 {
  font-family: var(--Montserrat);
  color: var(--primary-accent-clr);
  font-size: 20px;
  font-weight: 600;
}

.things-to-do-container .border-hover {
  font-family: var(--Montserrat);
  color: var(--primary-accent-clr);
  font-size: 11px;
  font-weight: 600;
  border-bottom: 1px solid var(--dark-border);
  cursor: pointer;
}

.things-to-do-container .line-hover {
  height: 2px;
  background: var(--btn-clr);
  transition: all 0.3s ease-in-out;
}

.things-to-do-container .border-hover:hover .line-hover {
  width: 100%;
}

.things-to-do-container .line {
  width: 230px;
  height: 1px;
  background-color: var(--btn-clr);
  transform: translate(-110px, -45px);
}

/* Rooms Section */

.room-section {
  background-color: var(--secondary-clr);
}

.room-section .bg-accent-clr {
  background-color: var(--secondary-bg-clr);
  width: 30%;
  height: 100%;
}

.room-section .room-slideshow {
  max-width: var(--container-width);
}

.room-container {
  padding: 90px 0;
  gap: 90px;
  /* background-color: var(--secondary-clr); */
}

.room-container img {
  max-width: 720px;
  height: 520px;
}

.room-content {
  max-width: 375px;
}

.room-content p {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 12px;
  letter-spacing: 1.56px;
}

.room-content p:nth-child(4) {
  font-size: 13px;
  letter-spacing: 0.6px;
  line-height: 24px;
  padding: 10px 0 40px 0;
}

.room-content h2 {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 30px;
  letter-spacing: 1.8px;
  font-weight: bold;
  padding: 25px 0 10px 0;
}

.room-content .line {
  width: 130px;
  height: 1px;
  background-color: var(--btn-clr);
  margin: 10px 0;
}

.room-content div:last-child p {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.44px;
  cursor: pointer;
}

.room-content div:last-child span {
  margin-left: 5px;
}

.room-content .border-hover {
  border-bottom: 1px solid var(--light-border);
  margin-left: 50px;
}

.room-content .line-hover {
  height: 2px;
  background: var(--btn-clr);
  transition: all 0.3s ease-in-out;
}

.room-content .border-hover:hover .line-hover {
  width: 100%;
}

.room-slideshow .next {
  color: var(--primary-clr);
  transform: translate(285px, -70px);
}

.room-slideshow .prev {
  color: var(--primary-clr);
  transform: translate(200px, -70px);
}

/* event section */

.event-section {
  background-color: var(--secondary-bg-clr);
}

.event-section .bg-accent-clr {
  background-color: var(--secondary-clr);
  height: 50%;
}

.event-section .event-container {
  max-width: var(--container-width);
  padding: 150px 100px 90px;
}

.event-heading .line {
  width: 165px;
  height: 1px;
  background-color: var(--btn-clr);
}

.event-heading h2 {
  font-family: var(--Montserrat);
  color: var(--secondary-clr);
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 1.6px;
}

.event-slideshow {
  padding-top: 32px;
}

.event-content {
  width: 1200px;
  height: 560px;
}

.event-content::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to left, transparent, #000000c9 100%);
  height: 100%;
  width: 100%;
  content: '';
}

.event-inner-content {
  max-width: 485px;
  margin-left: 60px;
}

.event-inner-content p {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 12px;
  letter-spacing: 1.56px;
}

.event-inner-content p:nth-child(4) {
  font-size: 13px;
  letter-spacing: 0.6px;
  line-height: 24px;
  padding: 10px 0 40px 0;
}

.event-inner-content h2 {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 30px;
  letter-spacing: 1.8px;
  font-weight: bold;
  padding: 0x 0 10px 0;
}

.event-inner-content .line {
  width: 25px;
  height: 2px;
  background-color: var(--btn-clr);
  margin: 10px 0;
}

.event-inner-content div:last-child p {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.44px;
  cursor: pointer;
}

.event-inner-content .plan-event {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--light-border);
}

.event-inner-content div:last-child {
  gap: 60px;
}

.event-inner-content div:last-child span img {
  margin-left: 5px;
  width: 18px;
}

.event-inner-content .border-hover {
  border-bottom: 1px solid var(--light-border);
}

.event-inner-content .line-hover {
  height: 2px;
  background: var(--btn-clr);
  transition: all 0.3s ease-in-out;
}

.event-inner-content .border-hover:hover .line-hover {
  width: 100%;
}

/* upcoming event section */

.upcoming-event-container {
  padding-top: 100px;
  margin-left: 100px;
  gap: 40px;
}

.upcoming-event-container .event-circle {
  background-color: var(--secondary-accent-clr);
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.upcoming-event-container .event-circle p {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 18px;
  letter-spacing: 1.32px;
}

.upcoming-event-container .event-circle p:last-child {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3.6px;
  line-height: 50px;
}

.upcoming-event-container .event-circle img {
  align-self: end;
}

.upcoming-events p {
  font-family: var(--Montserrat);
  color: var(--primary-clr);
  font-size: 11px;
  letter-spacing: 1.56px;
}

.upcoming-events p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
}

.upcoming-events .border-hover {
  font-size: 9px;
  letter-spacing: 1.44px;
  font-weight: 600;
  border-bottom: 1px solid var(--light-border);
  max-width: 95px;
  cursor: pointer;
}

.upcoming-events .line-hover {
  height: 2px;
  background: var(--btn-clr);
  transition: all 0.3s ease-in-out;
}

.upcoming-events .border-hover:hover .line-hover {
  width: 100%;
}


.event-slideshow .next {
  color: var(--primary-clr);
  transform: translate(380px, -130px);
}

.event-slideshow .prev {
  color: var(--primary-clr);
  transform: translate(300px, -130px);
}

/* Gallery Section */

.gallery-container {
  max-width: var(--container-width);
  padding: 150px 100px 400px;
}

.gallery-container img {
  max-width: 265px;
  max-height: 265px;
}

.gallery-content p {
  font-family: var(--Montserrat);
}

.gallery-content>p:first-child {
  color: var(--secondary-accent-clr);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.56px;
  padding-bottom: 15px;
}

.gallery-content p:nth-child(2) {
  color: var(--secondary-clr);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding-bottom: 24px;
}

.gallery-content>div p {
  color: var(--secondary-clr);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.gallery-content .border-hover {
  font-size: 10px;
  color: var(--secondary-clr);
  border-bottom: 1px solid var(--dark-border);
  cursor: pointer;
}

.gallery-content .line-hover {
  height: 2px;
  background: var(--btn-clr);
  transition: all 0.3s ease-in-out;
}

.gallery-content .border-hover:hover .line-hover {
  width: 100%;
}

/* Facts Section */

.facts-container {
  width: 1000px;
  background-color: var(--bg-accent-clr);
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}

.facts-content{
  gap: 50px;
}

/* Footer Section */

.footer-section{
  background-image: url(/images-ameritania/bg-footer.jpg);
  background-size: cover;
  padding: 300px;
}